:root {
  --primary: #5c109a;
  --dark: #0a0a0a;
  --dark-gray: #1a1a1a; 
  --text: #e0e0e0; 
}
*{
  margin:0;
  padding:0;
}
body {
  background: var(--dark);
  color: var(--text);
}
main {
 border: 6px solid #5c109a;
box-shadow: 10px 5px 0px 0px;
  color: #5c109a;
 border-radius: 15px;
  text-align: left;
}

h1 {
  text-align: center;
  color: var(--primary);
}
main:hover {
  padding: 10px;
  border: 7px solid aqua;
  color:aqua;
  transition: all 0.09s linear;
}
footer {
  text-align: center;
}
