:root {
  --primary: #ae00ff;
  --dark: #0a0a0a;
  --dark-gray: #232323; 
  --text: #e0e0e0; 
}
.header {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap:2rem;
  margin-bottom: 3rem;
  align-items: center;
}
.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.contacts {
  background: var(--dark-gray);
  padding: 1.5rem;
  border-radius: 10px;
}
.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5;
  margin: 0.5rem 0;
}
.contact-item a {
  color:var(--primary);
  text-decoration: none;
  transition: opacity 0.3s;
}
.contact-item a:hover {
  opacity: 0.8;
}
*{
  margin:0;
  padding:0;
}
body {
  background: var(--dark);
  color: var(--text);
}
main {
 border: 6px solid #5c109a;
box-shadow: 10px 5px 0px 0px;
  color: #5c109a;
 border-radius: 15px;
  text-align: left;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-align: center;
  color: var(--primary);
}
main:hover {
  padding: 10px;
  border: 7px solid aqua;
  color:aqua;
  transition: all 0.09s linear;
}









section {
  background: var(--dark-gray);
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1 {
  color: var(--text);
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
h2 {
  color: var(--primary);
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--dark);
  padding-bottom: 0.5rem;
}
.h3 {
  color: var(--primary);
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--dark);
  padding-bottom: 0.5px;
}
.goal-container {
  display: grid;
  gap: 1.5rem;

}
.goal-item {
  background: #2a2a2a;
  border-radius: 8px;
  display:flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.goal-item i { 
  font-size: 1.5rem;
  color: var(--primary);
  min-width: 40px;
  text-align: center;
}
.goal-highlights {
  color: var(--primary);
  font-weight: 500;
}
.job-application
.edu-items
.project-item {
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 8px;
  color:  var(--dark-gray);
}
.timeline {
color: #888;
font-size: 0.9rem;
}
.panel {
  display: flex;
  padding: 1rem;
  background: #2a2a2a;
  border-radius: 5px;
}
.skills-grid {
  display: grid;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card {
  background: #2a2a2a;
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(26, 143, 151, 0.7);
  transition: transform 0.2;
  display: flex;
  flex-direction: column;
}
.project-card:hover {
  transform: scale(1.05);
}
.project-header {
  text-align: center;
  margin-bottom: 10px;
}
.project-card p {
  margin-bottom: 15px;
}
.project-button {
  background-color: var(--primary);
  color: var(--text);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: auto;
}
footer {
  text-align: center;
  padding: 2rem 0;
  color:#777;
}
